<div class="container w-75 mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1>📑 My Invoices</h1>
        </div>
        <div>
        <% if !current_user.xero_connected %>
            <a class="btn btn-primary" href="/xero/connect" role="button">Connect Xero</a>            
        <% else %>
            <a class="btn btn-primary" href="/xero/connect" role="button">Manual Refresh</a>          
            <a class="btn btn-primary" href="/user/sign_out" data-method="delete" role="button">Logout</a>          
        <% end %>
        </div>
    </div>

    <hr/>

    <% if current_user.xero_connected %>
        <div class="table-responsive card">
            <table class="table">
            <thead class="fixed-header">
                <tr>
                <th>Client</th>
                <th>Xero Id</th>
                <th>Outstanding Amount</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>User id</th>
                </tr>
            </thead>
            <tbody>
                <% @invoices.each do |invoice| %>
                <tr>
                    <td><a href="/invoices/<%= invoice.id %>"><%= invoice.client %></a></td>
                    <td><%= invoice.xero_id %></td>
                    <td>
                        <%= invoice.currency_symbol %>
                        <%= invoice.outstanding_amount %>
                    </td>
                    <td>
                        <%= invoice.currency_symbol %>
                        <%= invoice.total_amount %>
                    </td>
                    <td>
                    <% case invoice.status
                        when "PAID" %><span class="badge text-uppercase bg-success"><%= invoice.status %></span>
                        <% when "AUTHORISED" %><span class="badge text-uppercase bg-primary"><%= invoice.status %></span>
                        <% when "VOIDED" %><span class="badge text-uppercase bg-warning"><%= invoice.status %></span>
                        <% when "DRAFT" %><span class="badge text-uppercase bg-info"><%= invoice.status %></span>
                        <% else %><span class="badge text-uppercase bg-danger"><%= invoice.status %></span>
                    <% end %>
                        
                    </td>
                    <td><%= invoice.due_date.strftime("%d-%m-%Y") %></td>
                </tr>
                <% end %>
            </tbody>
            </table>
        </div>
    <% else %>
        <div class="text-center mt-5">
            <p class="text-color-gray">Connect to Xero to see your invoices</p>
        </div>
    <% end %>


    
</div>
