<!DOCTYPE html>
<html>
  <head>
    <title>Xero Invoices</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
    // Get all the dropdown options
    const clientOptions = document.querySelectorAll('.client-option');
    const statusOptions = document.querySelectorAll('.status-option');

    console.log(clientOptions)
    console.log(statusOptions)
    
    // Add click event listener to each dropdown option
    clientOptions.forEach(option => {
      option.addEventListener('click', (event) => {
        // Get the selected client from the clicked option
        const selectedClient = event.target.textContent;
        
        const urlSearchParams = new URLSearchParams(window.location.search);
        if (selectedClient === "All Clients") {
          // Remove the URL query parameter 'clients'
          urlSearchParams.delete('clients');
        } else {
          // Update the URL query parameter 'clients' with the selected client
          urlSearchParams.set('clients', selectedClient);
        }
        // Replace the current URL with the updated URL including the new query parameter
        window.history.replaceState({}, '', `${window.location.pathname}?${urlSearchParams}`);
        location.reload();
      });
    });
    
    statusOptions.forEach(option => {
      option.addEventListener('click', (event) => {
        // Get the selected status from the clicked option
        const selectedStatus = event.target.textContent;

        const urlSearchParams = new URLSearchParams(window.location.search);
        
        if (selectedStatus === "All Status") {
          urlSearchParams.delete('status');
        } else {
          urlSearchParams.set('status', selectedStatus);
        }
    
        // Replace the current URL with the updated URL including the new query parameter
        window.history.replaceState({}, '', `${window.location.pathname}?${urlSearchParams}`);
        location.reload();
      });
    });
    </script>

</html>
